{
  "extends": ['airbnb-base', 'plugin:prettier/recommended'],
  env: {
    es6: true,
    mocha: true
  },
  globals: {
    expect: true,
    sinon: true
  },
  "rules": {
    "import/no-extraneous-dependencies": "off"
  },
}
